<h1>Product Search</h1>

<%= form_with(url: search_index_path, method: :get) do |form| %>
  <div>
    <%= form.label :keyword, "Keyword:" %>
    <%= form.text_field :keyword, value: params[:keyword] %>
  </div>

  <div>
    <%= form.label :category_id, "Category:" %>
    <%= form.collection_select :category_id, @categories, :id, :name, { prompt: "All Categories" }, { onchange: "this.form.submit()" } %>
  </div>

  <div>
    <%= form.submit "Search" %>
  </div>
<% end %>

<% if @products.any? %>
  <h2>Search Results:</h2>
  <ul>
    <% @products.each do |product| %>
      <li> <%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No products found.</p>
<% end %>