<!DOCTYPE html>
<html>
  <head>
    <title>BeautyGlamour</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <nav>
  <%= link_to "All Categories", categories_path %>
  <%= link_to "All Products", products_path %>
  <%= link_to "Search", search_path %>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
